.App {
  text-align: center;
}

button {
    margin-top: 12px;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 4px;
    background-color: #1b9b00;
    cursor: pointer;
    color: #fff;
}

button.secondary {
    background-color: #bea000;
}

button[disabled] {
    background-color: #ccc !important;
    color: #777 !important;
    cursor: not-allowed;
}