.BannerMessage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px;
    background-color: #1b9b00;
    color: #fff;

    transform: translateY(-100%);
    transition: transform 0.3s;
}

.BannerMessage.show {
    transform: translateY(0);
}

.BannerMessage .BannerMessageTimer {
    position:absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    transition: width 5s;
    transition-timing-function: linear;
    background-color: #fff;
    opacity:0.25;
}

.BannerMessage.show .BannerMessageTimer {
    width: 100%;
}