.LetterSpace {
    height: 50px;
    width: 40px;
    background-color: #e4e4e4;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #ddd;
    border-radius: 4px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

.LetterSpace.almost .CardBack {
    background-color: #bea000;
}

.LetterSpace.correct .CardBack {
    background-color: #1b9b00;
}

.LetterSpace.wrong .CardBack {
    background-color: #333;
    color: #fff;
}

.LetterSpace.flipped {
    transform: rotateY(180deg);
}

.LetterSpace .Card {
    position: absolute;
    padding: 12px;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.LetterSpace .CardBack {
    transform: rotateY(180deg);
}